<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>YouTV</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>

    <p>&nbsp;</p>

    {{if .Queue.JobsInProgress}}
        <div id="divQueue" style="visibility: visible; width:800px; margin:0 auto;" >
            <p>Downloads:</p>
            {{range .Queue.Jobs}}
                {{if .IsDownloading}}
                    <small style="color: green;">{{.DownloadURL}}</small><br/>
                {{end}}
                {{if not .IsDownloading}}
                    <small style="color: black;">{{.DownloadURL}}</small><br/>
                {{end}}
            {{end}}
        </div><br/>

        
        <script>
           
            setInterval(function(){ 
                //alert("Hello");
                location.reload();
            }, 3000);
            
        </script>

    {{end}}

    <div class="row d-flex justify-content-center">

        <div class="col-md-6 visible-xs-block">
      
            {{range .Recordings}}
            <a href="#" target="_self" class="list-group-item list-group-item-action">

                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><span class="badge badge-pill badge-info">{{.Length}}</span> {{.Title}} <small>({{.Station.Name}})</small></h5>
                </div>

                <p class="mb-1 text-wrap">{{.SubTitle}}</p>
                <p class="mb-1 text-wrap"><i>{{.DescShort}}</i></p>
                
                <small>{{.DateStartedClean}}</small>
                <button type="button" id="btnDownload" class="btn btn-link" onclick="clickEvent('{{.ID}}')">Download</button>
                <button type="button" class="btn btn-link">Löschen</button>
                
            </a>
            {{end}}
      
        </div>
      
      </div>
       
    <script>
        
        function clickEvent(id) {
            
            //alert(id);

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    //alert(this.responseText);
                }
            };
            xhttp.open("POST", "http://localhost:8080/youtv/queue/add/" + id, true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send("Your JSON Data Here");

            location.reload();
        };

    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>

